#container {  
    font-family: sans-serif;
    margin-left: 301px;
    width: auto;
    background: #ffffff;
    padding: 15px;
    padding-left: 50px;
    min-height: 80vh;
    flex-wrap: wrap;
    border-radius: 5px;
   
    line-height: 1.2;
    word-spacing: 3px;
}
#container .boxinfo {
    background: #99ccff;
    margin-right: 10%;
    padding: 10px;
}
#container .boxcode {
    background: #ccccff;
    padding: 1px;
    padding-left: 3%;
    padding-bottom: 20px;
}
#container .boxcode .textinput {
    width: 90%;
    min-height: 75px;
    outline: none;
    border: 1px solid grey;
}
.buttonSuccess {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}
hr { 
    display: block;
    margin-top: 20px;
    margin-bottom: 0.5em;
    margin-left: 5px;
    margin-right: 5px;
    border-style: ridge;
    border-width: 1px;
} 
a {
    text-decoration: none;
}

table {
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 100%;
}

table td{
    border: 1px solid #000000;
    padding: 5px;
}
table tr:hover{
    background: #999999;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}