#header {
    font-family: sans-serif;
    width: 100%;
    height: 100px;
    box-shadow: #000000 0 0 1px 0;
    border-radius: 5px;
    background: #333333;
}
#header h1{
    text-align: center;    
    padding: 30px;
}
#header h1 a{
    color: #ffffff;
    text-decoration: none;
}
#header h1 a:active{
    color: #cccccc;
    text-decoration: none;
}
#footer {
    font-family: sans-serif; 
    align-self: flex-end;
    width: 100%;
    height: 50px;
    box-shadow: #000000 0 0 1px 0;
    border-radius: 5px;
    background: #333333;
}
#footer h4{
    text-align: center;  
    color: #ffffff;
    padding: 15px;  
}