body {
    background-color: #cccccc;
}

#sidebar {
   
    width: 300px;
    height: auto;
    box-shadow: #000000 0 0 1px 0;    
    border-radius: 5px;
    float: left;
    flex-wrap: wrap;
     
}
#sidebar .widget {
    width: 280px;
    height: auto;
    margin: 5px;
}
.widget .title h3{
    background: #999999;
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 18px;
}
.widget ul{
    width: 150px;
}
.widget ul li{
    list-style: none;
    border-left: 1px dashed;
    border-bottom: 1px dashed;
    padding: 3px;
    color: #000000;
}
.widget ul li a{
    color: #000000;
    text-decoration: none;
}
.widget ul li a:active{
    color: #ffffff;
}